body,
html {
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
}

.logo {
    font-size: 3em;
    text-align: center;
}

colors {
    color: #2a9d8f;
    color: #e76f51;
    color: #e9c46a;
    color: #c781f6;
    color: #c84c65;
}

body {
    background-color: #0a0b15;
    color: #2a9d8f;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    line-height: 25px;
    /* display: flex; */
    /* justify-content: center; */
}

.container {
    /* border: solid; */
    /* width: 100vh; */
    height: 96vh;

    padding: 10px 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 2rem;
    font-weight: 500;
}

.headerLogo>a {
    color: #2a9d8f;
    text-decoration: none;
}



.headerLinks>a {
    text-decoration: none;
    color: #e76f51;
    padding: 5px 10px;
}


.headerLinks>a:hover {
    color: #2a9d8f;
}

button {
    background-color: #e76f51;
    color: #e9c46a;
    padding: 10px 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    outline: none;
    border: none;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    color: #2a9d8f;
    cursor: pointer;
}

h4 {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

.categorySection {
    /* border: solid; */
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryList {
    text-align: center;
}

.categoryList>a {
    text-decoration: none;
    color: #e76f51;
}

.categoriesButton {
    font-size: 1.3rem;
}

.section {
    /* border: solid; */
    height: 95%;
}

.sectionHeading {
    background-color: #e76f51;
    color: #e9c46a;

    border-radius: 20px;
    padding: 10px 20px;
    width: fit-content;
    font-size: 2rem;
}

.sectionSubHeading {
    color: #e9c46a;
    padding: 0px 20px;
    font-size: 1.5rem;
}

.contentHeading {
    font-size: 1.2rem;
    color: #c781f6;
}

.sectionContent {
    padding: 0px 30px;
}

.sectionContentIndex {
    /* border: solid; */
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

pre {
    background-color: rgba(86, 75, 206, 0.152);
    border-radius: 60px;
    padding: 20px;
    color: #c781f6;
}

footer {
    text-align: center;
}