body,
html {
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
}

colors {
    color: #2a9d8f;
    color: #e76f51;
    color: #e9c46a;
    color: #c781f6;
    color: #c84c65;
}

body {
    background-color: #0a0b15;
    color: #2a9d8f;
    font-family: 'Roboto', sans-serif;

    /* display: flex; */
    /* justify-content: center; */
}

.container {
    border: solid;
    /* width: 100vh; */
    height: 96vh;

    padding: 10px 2.5%;

    display: flex;
    flex-direction: column;
}