body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 10%;
    font-family: 'Roboto', sans-serif;
    background-color: #0a0b15;
    color: #2a9d8f;
    align-items: center;
    text-align: center;
    background-image: url(./assets/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

colors {
    color: #2a9d8f;
    color: #e76f51;
    color: #e9c46a;
    color: #c781f6;
    color: #c84c65;
}

a {
    text-decoration: none;
    color: #e76f51;
}

a:hover {
    color: #863c4b;
}