body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #0a0b15;
    color: #2a9d8f;
    justify-content: center;
    padding: 0% 10%;
}

colors {
    color: #2a9d8f;
    color: #e76f51;
    color: #e9c46a;
    color: #c781f6;
    color: #c84c65;
}